
= form_for @hospital do |f|
  - if f.object.errors.messages.length > 0
    - f.object.errors.messages.inspect
    %br/
    - f.object.errors.messages.each do |key, value|
      - value.each do |message|
        = key.capitalize
        = message
    %br/
    %br/
  %div.error Please enter a name
  = f.label :name
  = f.text_field :name  
  
  %br 
  %br
  = f.label :address, "Address"
  = f.text_area :address
  %br
  %br
  = f.submit 
  %br
  %br
  = link_to "Back", root_path


