
%h1 
  #{@hospital.name}
  %br
  #{@hospital.address}

- markers = '{@hospital.address}'

= image_tag "http://maps.google.com/maps/api/staticmap?size=1000x1000&sensor=false&markers=#{@hospital.address}"

%br
%br
%h3 Patient List

%ul
  %li.patient_search
    = patient_list(@hospital, @patient)
%br
%br
%h4= link_to 'Admit New Patient', new_hospital_patient_path(@hospital)
%br
%h3 Doctors on Staff

%ul.doctor_display_name
  %div
  - @hospital.doctors.each do |doctor|
    - if doctor.name 
      = doctor.name
      = link_to "Delete Doctor", delete_doctor_hospital_path(@hospital, doctor_id: doctor.id), method: :delete
%br
%div
  = form_for @doctor, url: create_doctor_hospital_path(@hospital) do |f|


    = f.label :name
    = f.text_field :name
    = f.submit 


%br
= link_to "Back", root_path
%br
%br
%br
%br
%br
%div.hospital_control
  = link_to "Edit Hospital", edit_hospital_path(@hospital)
  = link_to "Remove From Network", hospital_path(@hospital), method: :delete