%h1 
  #{@hospital.name}
  %br
  #{@hospital.description}

%br
%br
%h3 Patient List

%ul
  - @hospital.patients.each do |patient|
    = link_to "#{patient.first_name} #{patient.last_name}", hospital_patient_path(@hospital,patient)
    = link_to "Edit", edit_hospital_patient_path(@hospital, patient)
    = link_to "Delete", hospital_patient_path(@hospital, patient), method: :delete
    %br
%br
%h4= link_to 'Admit New Patient', new_hospital_patient_path(@hospital)
%br
%h3 Doctors on Staff

%ul.doctor_display_name
  %div
  - @hospital.doctors.each do |doctor|
    - if doctor.name 
      = doctor.name
      = link_to "Delete Doctor", delete_doctor_hospital_path(@hospital, doctor_id: doctor.id), method: :delete
%br
%div
  = form_for @doctor, url: create_doctor_hospital_path(@hospital) do |f|
    = f.label :name
    = f.text_field :name
    = f.submit 


%br
= link_to "Back", root_path
%br
%br
%br
%br
%br
%div.hospital_control
  = link_to "Edit Hospital", edit_hospital_path(@hospital)
  = link_to "Remove From Network", hospital_path(@hospital), method: :delete