<h2>Edit Blog Post</h2>

<%= form_for @blog do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.submit %>
  <% end %>
  <%= link_to "Back", root_path %>

  "think" this is where the delete link goes:
  <% link_to "delete", blog_path(blog.id) method: :delete %>