%h1 #{@medication.name}
%br
%br

%h3 #{@medication.description}
%div
  = link_to "Edit", edit_hospital_patient_medication_path(@hospital, @patient, @medication)
  = link_to "Delete", hospital_patient_medication_path(@hospital, @patient, @medication), method: :delete
  %br
  %br
  = link_to "Back", hospital_patient_path(@hospital, @patient, @medication)