!!!
%html{:lang => "en"}
  %head
    %link{href: 'http://fonts.googleapis.com/css?family=Josefin+Sans', rel:'stylesheet', type:'text/css'}
    %title Hospital
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  
  %body
    %ul.nav.nav-pills
      %li.active
        %a{:href => "/"} Home
        =login_links
    .container
      .header
      = yield 
      .row.marketing
        .col-lg-6
          %h4 
         
      %p.notice= notice if notice
      %p.alert= alert if alert  
      .footer
        %p © Database Solutions 2014
    / /container
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster 
      