<h2><%= @patient.first_name %> <%= @patient.last_name %></h2> <h3> <%= @patient.dob %> </h3>
<h4>Reason for visit:</h4>
<ul>
  <li>
    <%= @patient.description %>
    <br>
     <%= link_to "Home", root_path %>
  </li>
</ul>
<br>
<hr><hr>
