%h1
  = @patient.first_name
  = @patient.last_name
%h3
  = @patient.dob
%h3
  = @patient.gender
%h3 
  Reason for visit:

  = @patient.description
%h3
  Status: #{@patient.workflow_state}

%div.workflow
= link_to "Checkup", "javascript:void(0);", class: "Examined btn btn-lg btn-success" 
= link_to "X-Ray", "javascript:void(0);", class: "X-rayed btn btn-lg btn-success"
= link_to "Surgery", "javascript:void(0);", class: "Recovery btn btn-lg btn-success"
= link_to "Billing", "javascript:void(0);", class: "Billing btn btn-lg btn-success"
= link_to "Discharge", "javascript:void(0);", class: "Discharge Patient btn btn-lg btn-success"
%hr



%h3 Current Medications:
    
%a
  - @patient.medications.each do |medication|
    = link_to "#{medication.name}", hospital_patient_medication_path(@hospital, @patient, medication)
    = link_to "Edit", edit_hospital_patient_medication_path(@hospital, @patient, medication)
    = link_to "Delete", hospital_patient_medication_path(@hospital, @patient, medication), method: :delete
    %br
    %br
%div
  = link_to "Add Medication", new_hospital_patient_medication_path(@hospital, @patient)
%br
%br


%h3 Medical Staff Assigned To Patient:
%br
%br
  %p
    - @patient.doctors.each do |doctor|
      - if doctor.name 
        = doctor.name
        = link_to "Delete Doctor", delete_doctor_hospital_patient_path(@hospital, @patient, doctor_id: doctor.id), method: :delete
  %br
%div 
  = form_for @doctor, url: create_doctor_hospital_patient_path(@hospital, @patient) do |f|
    = f.label :name, "Doctor To Be Assigned:"
    = f.text_field :name
    = f.submit
%br

= link_to "Back", hospital_path(@hospital)




