%h2
  = @patient.first_name
  = @patient.last_name
%h3
  = @patient.dob
%h3
  = @patient.gender
%h3 
  Reason for visit:

  = @patient.description
%h3
  Status: #{@patient.workflow_state}

%td.workflow_state

  - if @patient.workflow_state != "waiting_room" 
    = link_to "Checkup",examined_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "X-Ray", xrayed_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "Surgery", recovery_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "Discharge", discharged_hospital_patient_path(@hospital, @patient), method: :put

  - elsif @patient.workflow_state == "Examined"
    = link_to "xrayed", xrayed_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "recovering", recovery_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "discharged", discharged_hospital_patient_path(@hospital, @patient), method: :put

  - elsif @patient.workflow_state == "xrayed"
    = link_to "recovering", recovery_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "discharged", discharged_hospital_patient_path(@hospital, @patient), method: :put

  - elsif @patient.workflow_state == "recovering"
    = link_to "discharged", discharged_hospital_patient_path(@hospital, @patient), method: :put

  - elsif @patient.workflow_state == "discharged"
    = link_to "Discharge Patient From Database", @patient, :method => :delete, :data => {:confirm => "Would you like to discharge this patient?"} 


