%h1
  = @patient.first_name
  = @patient.last_name
%h3
  = @patient.dob
%h3
  = @patient.gender
%h3 
  Reason for visit:

  = @patient.description
%h3
  Status: #{@patient.workflow_state}


%td.workflow_state

  - if @patient.workflow_state == "waiting_room" 
    = link_to "checkup",examined_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "xray", xrayed_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "surgery", recovery_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "finance", discharged_hospital_patient_path(@hospital, @patient), method: :put

  - if @patient.workflow_state == "examined"
    = link_to "xrayed", xrayed_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "recovering", recovery_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "discharged", discharged_hospital_patient_path(@hospital, @patient), method: :put

  - if @patient.workflow_state == "xrayed"
    = link_to "recovering", recovery_hospital_patient_path(@hospital, @patient), method: :put
    = link_to "discharged", discharged_hospital_patient_path(@hospital, @patient), method: :put

  - if @patient.workflow_state == "recovery"
    = link_to "discharged", discharged_hospital_patient_path(@hospital, @patient), method: :put

  - if @patient.workflow_state == "discharged"
    = link_to "Discharge Patient From Database", hospital_patient_path(@hospital, @patient), :method => :delete, :data => {:confirm => "Would you like to discharge this patient?"} 


%hr



%h4 
  %div
    Current Medications:
    
%p
  - @patient.medications.each do |medication|
    = link_to "#{medication.name}", hospital_patient_medication_path(@hospital, @patient, medication)
    = link_to "Edit", edit_hospital_patient_medication_path(@hospital, @patient, medication)
    = link_to "Delete", hospital_patient_medication_path(@hospital, @patient, medication), method: :delete
    %br
%div
  = link_to "Add Medication", new_hospital_patient_medication_path(@hospital, @patient)
%br
%br


%div
  Medical Staff Assigned To Patient:
  %br
  %br
  - @patient.doctors.each do |doctor|
    - if doctor.name 
      = doctor.name
      = link_to "Delete Doctor", delete_doctor_hospital_patient_path(@hospital, @patient, doctor_id: doctor.id), method: :delete
  %br
%div 
  = form_for @doctor, url: create_doctor_hospital_patient_path(@hospital, @patient) do |f|
    = f.label :name, "Doctor To Be Assigned:"
    = f.text_field :name
    = f.submit
%br

= link_to "Back", hospital_path(@hospital)




