
%h1 Hospital Database

%h3 Network Hospitals
%ul
  - @hospitals.each do |hospital|
    %li
      = link_to "#{hospital.name}", hospital_path(hospital)
      = hospital.description
      = link_to "Edit", edit_hospital_path(hospital)
      = link_to "Delete", hospital_path(hospital), method: :delete
      

%br
= link_to "Add New Hospital To Network", new_hospital_path
%br
= link_to "Back", hospitals_path