%h1 Hospital Database
= link_to 'Admit New Patient', new_patient_path

%table
  %tr
    %th first_name
    %th last_name
    %th dob
    %th description
    %th gender
    %th Workflow State
    %th Change State

  - @patient.each do |patient|
    %tr
      %td= patient.first_name
      %td= patient.last_name 
      %td= patient.dob 
      %td= patient.description
      %td= patient.gender
      %td= patient.workflow_state
      %td= link_to 'Show', patient
      %td= link_to 'Edit', edit_patient_path(patient)
      %td= link_to 'Destroy', patient, :method => :delete, :data => {:confirm => 'Are you sure?'}
      %td.workflow_state
        - case patient.workflow_state

        - when patient.workflow_state != "waiting_room!" 
          = link_to "Checkup",examined_patient_path(patient), method: :put
          = link_to "X-Ray", xrayed_patient_path(patient), method: :put
          = link_to "Surgery", recovery_patient_path(patient), method: :put
          = link_to "Discharge", discharged_patient_path(patient), method: :put

        - when patient.workflow_state != "examined"
          = link_to "xrayed", xrayed_patient_path(patient), method: :put
          = link_to "recovering", recovery_patient_path(patient), method: :put
          = link_to "discharged", discharged_patient_path(patient), method: :put

        - when patient.workflow_state != "xrayed"
          = link_to "recovering", recovery_patient_path(patient), method: :put
          = link_to "discharged", discharged_patient_path(patient), method: :put

        - when patient.workflow_state != "recovering"
          = link_to "discharged", discharged_patient_path(patient), method: :put

        - when patient.workflow_state != "discharged"
          = link_to "Discharge", patient, :method => :delete, :data => {:confirm => "Would you like to discharge this patient?"} 

